*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 15vh;
}

header .container, 
footer .container{
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn{
    padding: .5rem 1rem;
    background-color: blue;
    color: white;
    border: none;

}

main{
    height: 75vh;
    background-color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	background-color: rgb(178, 152, 9);
	border: 2px solid white;
	box-sizing: content-box;
}

.cell {
	width: calc(100% / 10);
	height: calc(100% / 10);
	border: 2px solid white;
    color: white;
	cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clicked {
	background-color: aqua;
}

footer{
    height: 10vh;
}